@page
@model ListModel
@{
}
<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    @foreach(var r in @Model.Restaurants)
    {
        <tr>
            <td>@r.Name</td>
            <td>@r.Location</td>
            <td>@r.Cuisine</td>
            <td>
                <a class="btn btn-small" asp-page="./Detail" asp-route-restaurantId="@r.Id">
                  Detail
                </a>
            </td>
             <td>
                <a class="btn btn-small" asp-page="./Edit" asp-route-restaurantId="@r.Id">
                  Edit
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page="./Edit" class="btn btn-primary">Create</a>
<div>@Model.Message</div>
@* @Model.Restaurants *@